@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  overflow-y: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.slot {
  margin-top: 3rem;
}

.paragraph-text {
  color: #837c7c;
  font-weight: 500;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 3rem;
  background-color: #31a658;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left-item01 {
  height: 3rem;
  background-color: #008d4c;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3.5rem;
}

.navbar-left-item02 {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.dateNtime {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.dateNtime span {
  color: #fff;
  font-size: 12px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right-item01 {
  height: 3rem;
  background-color: #008d4c;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.navbar-right-item01 span {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 12px;
}

.navbar-right-item02 {
  padding: 0 0.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-right-item02:hover {
  background-color: #008d4c;
}

.navbar-right-item03 {
  padding: 0 0.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-right-item03:hover {
  background-color: #008d4c;
}

.navbar-right-item04 {
  padding: 0 0.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-right-item04 span {
  margin-left: 0.5rem;
  font-size: 600;
  color: #ffffff;
}
.navbar-right-item04:hover {
  background-color: #008d4c;
}

.navbar-right-item05 {
  padding: 0 0.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-right-item05 span {
  margin-left: 0.5rem;
  font-size: 600;
  color: #ffffff;
}
.navbar-right-item05:hover {
  background-color: #008d4c;
}

.navbar-right-item06 {
  padding: 0 0.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-right-item06:hover {
  background-color: #008d4c;
}

.navbar-right-item07 {
  padding: 0 0.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-right-item07:hover {
  background-color: #008d4c;
}

.navbar-right-item08 {
  padding: 0 0.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-right-item08:hover {
  background-color: #008d4c;
}

/* Products */
.products__section {
  display: flex;
}

.products__section-left {
  flex: 0.6;
  background-color: #e6e7eb;
  height: 100vh;
  overflow-y: scroll;
}

.products__section-left::-webkit-scrollbar {
  width: 10px;
}
.products__section-left::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 5px;
}

.products__section-right {
  flex: 0.4;
  background-color: #ffffff;
  height: 100vh;
  overflow-y: scroll;
}

.products__section-right::-webkit-scrollbar {
  width: 10px;
}
.products__section-right::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 5px;
}

.products__nav {
  height: 4rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 60%;
  position: fixed;
}

.products__nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2;
}

.products__nav-option {
  padding: 0.5rem 4rem;
  border-radius: 2rem;
  color: #837c7c;
  cursor: pointer;
}

.products__body {
  margin-top: 4.5rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.products__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  width: 60%;
  background-color: #f39c11;
}

.products__footer-div {
  width: 100%;
  height: 100%;
  position: relative;
}

.products__footer-date {
  position: absolute;
  right: 7%;
  top: 1%;
  background-color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

.products__footer-message {
  position: absolute;
  right: 1%;
  top: 30%;
  cursor: pointer;
}

.products__footer-amount {
  position: absolute;
  top: 20%;
  left: 40%;
  font-size: 2rem;
  color: #ffffff;
}

/* Cart */
.cart__nav {
  height: 4rem;
  background-color: #fcdca9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  position: fixed;
}

.cart__nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2;
  padding: 0.5rem;
}

.cart__nav-option {
  padding: 0.5rem 4rem;
  border-radius: 2rem;
  color: #837c7c;
  cursor: pointer;
}

.cart__nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-right-item01 {
  padding: 0.3rem 0.6rem;
  gap: 0.2rem;
  background-color: #787876;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}
.nav-right-item02 {
  height: 4rem;
  padding: 0 1rem;
  gap: 0.2rem;
  background-color: #3bc46a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-right-item03 {
  height: 4rem;
  padding: 0 1rem;
  gap: 0.2rem;
  background-color: #f39c11;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item02-01 {
  font-weight: 500;
  color: #fff;
}
.item02-02 {
  padding: 0.4rem 1.5rem;
  border-radius: 1rem;
  background: #e1483d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
}

.cart__body {
  margin-top: 4rem;
}

.cart__footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 11rem;
  width: 40%;
}

.cart__footer-div {
  position: relative;
}

.cart__footer-left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 4rem;
  background-color: #31a658;
}
.cart__footer-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 4rem;
  background-color: #de4b39;
}

.cart__footer-left-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cart__footer-boxText {
  color: #ffffff;
}

/* Product */
.product {
  background-color: #ffffff;
  border: 1px solid #31a658;
  width: 9rem;
  height: 11.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.product h3 {
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  bottom: 2;
  left: 30%;
}

.product img {
  width: 80%;
  height: 7rem;
  background-size: contain;
  margin-left: 0.7rem;
}

.product__button {
  width: 9rem;
  height: 2rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

/* Cart Details */

.cart__details-nav {
  height: 1.5rem;
  background-color: #d2d6de;
  width: 100%;
  z-index: 20;
  margin-left: 0.5rem;
  border-radius: 0 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.cart__details-nav ul {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.cart__details-nav li {
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  width: 100%;
}

.cart__details-nav li:nth-child(1) {
  position: absolute;
  left: 5%;
}
.cart__details-nav li:nth-child(2) {
  position: absolute;
  left: 35%;
}
.cart__details-nav li:nth-child(3) {
  position: absolute;
  left: 70%;
}
.cart__details-nav li:nth-child(4) {
  position: absolute;
  left: 85%;
}

.cartedProduct {
  z-index: -20;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.cart__details-product {
  width: 100%;
  position: relative;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.product__quantity {
  position: absolute;
  width: 6rem;
  left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product__quantity-upbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bef1d9;
  height: 1rem;
  margin-left: 1%;
  width: 100%;
}

.product__quantity-count input {
  width: 2.5rem;
  height: 1.2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product__quantity-downbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  margin-left: 1%;
  background-color: #fddeda;
  width: 100%;
}

.product__name {
  position: absolute;
  left: 20%;
}

.product__name-highliter {
  background-color: #026c3c;
  font-weight: 500;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.product__name h3 {
  color: #fff;
  padding: 0.5rem 4rem;
  font-size: 15px;
}

.product__price {
  position: absolute;
  left: 70%;
}

.product__price p {
  margin-top: 0.5rem;
}

.product__subtotal {
  position: absolute;
  left: 85%;
}

.product__subtotal p {
  margin-top: 0.5rem;
}

.product__remove {
  position: absolute;
  left: 95%;
}

.product__remove svg {
  cursor: pointer;
  margin-top: 0.5rem;
}

.cart__details {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.cart__details-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.cartDetails__footer-topbar {
  height: 1.5rem;
  background-color: #d2d6de;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.cartDetails__footer-topbar ul {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.cartDetails__footer-topbar li {
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  width: 100%;
}

.cartDetails__footer-topbar li:nth-child(1) {
  position: absolute;
  left: 20%;
}
.cartDetails__footer-topbar li:nth-child(2) {
  position: absolute;
  left: 50%;
}
.cartDetails__footer-topbar li:nth-child(3) {
  position: absolute;
  left: 70%;
}
.cartDetails__footer-topbar li:nth-child(4) {
  position: absolute;
  left: 92%;
}

.cartDetails__footer-bottombar {
  height: 1.5rem;
  background-color: #d2d6de;
  width: 100%;
  margin-left: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.cartDetails__footer-bottombar ul {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.cartDetails__footer-bottombar li {
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  width: 100%;
}

.cartDetails__footer-bottombar li:nth-child(1) {
  position: absolute;
  left: 20%;
}
.cartDetails__footer-bottombar li:nth-child(2) {
  position: absolute;
  left: 50%;
}
.cartDetails__footer-bottombar li:nth-child(3) {
  position: absolute;
  left: 70%;
}
.cartDetails__footer-bottombar li:nth-child(4) {
  position: absolute;
  left: 92%;
}

.cartDetails__footer-discount {
  height: 2rem;
  background-color: #ffffff;
  width: 100%;
  margin-left: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.cartDetails__footer-discount li {
  list-style: none;
  color: #50504f;
  font-size: 12px;
  font-weight: 600;
}

.cartDetails__footer-discount div {
  padding: 0.2rem 2rem;
  background-color: #424242;
  color: #ffffff;
  font-weight: bold;
  border-radius: 1rem;
}

.cartDetails__footer-discount li:nth-child(1) {
  position: absolute;
  left: 20%;
}
.cartDetails__footer-discount li:nth-child(3) {
  position: absolute;
  left: 70%;
}
.cartDetails__footer-discount div:nth-child(2) {
  position: absolute;
  left: 45%;
}
.cartDetails__footer-discount div:nth-child(4) {
  position: absolute;
  left: 88%;
}

.cartDetails__footer-shipping {
  height: 2rem;
  background-color: #ffffff;
  width: 100%;
  margin-left: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.cartDetails__footer-shipping li {
  list-style: none;
  color: #50504f;
  font-size: 12px;
  font-weight: 600;
}

.cartDetails__footer-shipping div {
  padding: 0.2rem 2rem;
  background-color: #424242;
  color: #ffffff;
  font-weight: bold;
  border-radius: 1rem;
}

.cartDetails__footer-shipping li:nth-child(1) {
  position: absolute;
  left: 20%;
}
.cartDetails__footer-shipping li:nth-child(3) {
  position: absolute;
  left: 70%;
}
.cartDetails__footer-shipping div:nth-child(2) {
  position: absolute;
  left: 45%;
}
.cartDetails__footer-shipping div:nth-child(4) {
  position: absolute;
  left: 88%;
}





/* Media Query */

@media screen and (max-width: 1536px) {
  .cart__details {
    height: 73vh;
  }
  .cartDetails__footer-discount li:nth-child(1) {
    position: absolute;
    left: 22%;
  }
  .cartDetails__footer-discount li:nth-child(3) {
    position: absolute;
    left: 60%;
  }
  .cartDetails__footer-discount div:nth-child(2) {
    position: absolute;
    left: 40%;
  }
  .cartDetails__footer-discount div:nth-child(4) {
    position: absolute;
    left: 85%;
  }
  .cartDetails__footer-shipping li:nth-child(1) {
    position: absolute;
    left: 22%;
  }
  .cartDetails__footer-shipping li:nth-child(3) {
    position: absolute;
    left: 60%;
  }
  .cartDetails__footer-shipping div:nth-child(2) {
    position: absolute;
    left: 40%;
  }
  .cartDetails__footer-shipping div:nth-child(4) {
    position: absolute;
    left: 85%;
  }
}